@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: white;
}
body {
    min-height: 100vh;
    background: url(1.png);
    display: flex;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: #3ba386;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px #373737;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #3ba386;
    min-height: 50px;
    justify-content: center;
    padding-left: 10px;
    box-shadow: 0 0 2px #373737;
    width: 100vw;
}
#title {
    color: white;
    font-size: 30px;
}
.hero {
    margin-top: 50px;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}
.card {
    height: 273px;
    width: 273px;
    background-color: #3ba386;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px #373737;
    transition: transform 0.3s; /* Use transform for transition */
}
.card:hover {
    background-color: #48c7a3;
    transform: scale(1.05); /* Scale the card on hover */
    transition: 0.3s;
}
.sidebar {
    opacity: 0;
    position: absolute;
    width: 0px;
    height: 100vh;
    background-color: #48c7a3;
    z-index: 1;
    box-shadow: 0 0 30px #373737;
    pointer-events: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-active {
    opacity: 100;
    width: 300px;
    transition: 0.3s;
}

.barIcon-inactive {
    display: none;
}
.cart {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 82%;
    bottom: 34%;
    width: 300px;
    height: 500px;
    pointer-events: none;
    transition: 0.3s;
    background-color: #48c7a3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-active {
    opacity: 100;
    transition: 0.3s;
}

#closeSidebar {
    position: absolute;
    color: #ffffff;
    filter: drop-shadow(0px 0px 5px #373737);
    top: 25px;
    z-index: 3;
    left: 18px;
}
